{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
{% if add_intermediate_update %}
Add Intermediate Update
{% else %}
Edit Intermediate Update
{% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
    <div class="outer">
        <div class="middle">
            <div class="center">
                {% if add_intermediate_update %}
                <h1>Add Intermediate Update</h1>
                {% else %}
                <h1>Edit Intermediate Update</h1>
                {% endif %}
                <br/>
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
