{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_wave %}
        Add Wave
    {% else %}
        Edit Wave
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <!--<div class="inner">-->
        <div class="center">
            {% if add_department %}
                <h1>Add Wave</h1>
            {% else %}
                <h1>Edit Wave</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      <!--</div>-->
    </div>
  </div>
</div>
{% endblock %}
